<%= render 'xmt/test/public/header'  %>
<div class="container" style="margin-top: 50px;text-align: center;">
  <%= link_to "开始答题",new_xmt_test_exam_result_path(exam:'5a584c8ef6e9fa08d8423ed6'), 'class': 'btn btn-lg btn-teal tooltips' %>
</div>

