<%#title : 首页模版 %>
<!--- part c turn_img & tab start --->
<div class="part_c">
  <!--- left turn img start --->
  <div class="part_c_left" id="slide">
    <ul class="slide-cont">
    </ul>
    <div class="slide-nav"> <a href="javascript:" class="nownav">1</a> <a href="javascript:">2</a> <a href="javascript:">3</a> <a href="javascript:">4</a> </div>
  </div>
  <!--- left turn img end --->

  <!--- right start --->
  <div class="part_c_right">
    <!--- news tab start --->
    <div class="part_c_right_tab_nav">
      <ul>
        <li id="one1" onMouseOver="setTab('one',1,3)" class="hover" style="border:none;"><a href="/pages/5b750c9eb3e94101acb8884c">依安要闻</a></li>
        <li id="one2" onMouseOver="setTab('one',2,3)" ><a href="/pages/5a6146baf6e9fa1940998be1">脱贫攻坚</a></li>
        <li id="one3" onMouseOver="setTab('one',3,3)"><a href="/pages/5a6199e9f6e9fa22385b1522">公示公告</a></li>
      </ul>
    </div>
    <div class="part_c_right_tab_content">
      <div id="con_one_1" >
        <!--- top start --->
        <div class="part_c_right_tab_content_top">
          <div style="clear:both;"></div>
        </div>

        <!--- top end --->
        <!--- bottom start --->
        <ul>
          <% hlp_list_article('5b750c9eb3e94101acb8884c',{load_all:true,count:5,sort:'rcmd_level'}).each do |new|%>
              <li>
                <div class="cnrm_title"><a href="<%= new.url %>" target="_blank"><%= new.attr('title', {default:'默认标题'}) %></a></div>
                <div class="cnrm_time"><%= image_tag(new.attr('avatar.url',{default:'bg001.png'})) %></div>
                <div style="clear:both;"></div>
              </li>
          <% end %>
        </ul>
        <!--- bottom end --->
      </div>
      <div id="con_one_2" style="display:none">
        <!--- top start --->
        <div class="part_c_right_tab_content_top">



          <div style="clear:both;"></div>
        </div>
        <!--- top end --->
        <!--- bottom start --->
        <ul>

        </ul>

        <!--- bottom end --->
      </div>
      <div id="con_one_3" style="display:none">
        <!--- bottom start --->
        <div class="part_c_right_tab_content_top">



          <div style="clear:both;"></div>
        </div>
        <ul>

        </ul>

        <!--- bottom end --->
      </div>
    </div>
    <!--- news tab start --->
  </div>
  <!--- right end --->
  <div style="clear:both;"></div>
</div>
<!--- part c turn_img & tab end --->

<div class="fullSlide tlad_a" >
  <div class="bd">
    <ul>

    </ul>
  </div>
  <div class="hd"><ul></ul></div>
</div>


<!--- part e tab & button start --->
<div class="part_e">
  <!--- left start --->
  <div class="part_e_left">
    <!--- news tab start --->
    <div class="part_e_left_tab_nav">
      <ul>
        <li id="two1" onMouseOver="setTab('two',1,2)" class="hover"><a href="/pages/5a6146b9f6e9fa1940998bd0" target="_blank">乡镇动态</a></li>
        <li id="two2" onMouseOver="setTab('two',2,2)" ><a href="/pages/5a6146b9f6e9fa1940998bd1" target="_blank">部门之窗</a></li>
      </ul>
    </div>
    <div class="part_e_left_tab_content">
      <div id="con_two_1" >
        <ul>

        </ul>
      </div>
      <div id="con_two_2" style="display:none">
        <ul>


        </ul>
      </div>
    </div>
    <!--- news tab start --->
  </div>
  <!--- left end --->

  <!--- right start --->
  <div class="part_e_right">
    <!--- title start --->
    <div class="part_e_right_title">
      <div class="part_e_right_title_left"><a href="http://www.gov.cn/" target="_blank">中国政府网要闻</a></div>
      <div style="clear:both;"></div>
    </div>
    <!--- title start --->
    <!--- button start --->
    <script language="javascript" type="text/javascript" src="http://www.gov.cn/pushinfo/v150203/pushinfo.js"></script>
    <!--- button start --->
  </div>
  <!--- right end --->
  <div style="clear:both;"></div>
</div>
<!--- part e tab & button end --->

<!--- part f turn_img start --->
<div class="part_f">
  <!--- top title start --->
  <div class="part_f_top">
    <div class="part_f_top_left">办事服务</div>
    <div class="part_f_top_right"></div>
    <div style="clear:both;"></div>
  </div>
  <!--- top title end --->

  <!--- bottom turn img start --->
  <div class="part_f_bottom">

    <div class="part_f_bottom_content">
      <div class="box">
      </div>

    </div>

    <div class="nav">
      <span class="active">&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <div style="clear:both;"></div>
    </div>

  </div>
  <!--- bottom turn img end --->
</div>
<!--- part f turn_img end --->
<div class="fullSlide tlad_b">
  <div class="bd">
    <ul>

    </ul>
  </div>
  <div class="hd"><ul></ul></div>
</div>

<!--- part h button start --->
<div class="part_h">
  <!--- top title start --->
  <div class="part_h_top">
    <div class="part_h_top_left">政民互动</div>
    <div class="part_h_top_right"></div>
    <div style="clear:both;"></div>
  </div>
  <!--- top title end --->

  <!--- bottom turn img start --->
  <div class="part_h_bottom">
    <ul>
      <li class="part_h_bottom_li_a"><a href="http://222.171.204.18:9091/2302/230223" target="_blank">领导信箱</a></li>
      <li class="part_h_bottom_li_b"><a href="/pages/5a6146b9f6e9fa1940998bd7" target="_blank">在线访谈</a></li>
      <li class="part_h_bottom_li_c"><a href="/consultations/new?id=5a6146baf6e9fa1940998bf9" target="_blank">网上咨询</a></li>
      <li class="part_h_bottom_li_d"><a href="/pages/5a6146b9f6e9fa1940998bd9" target="_blank">民意征集</a></li>
      <li class="part_h_bottom_li_e"><a href="/polls?id=5a6146baf6e9fa1940998bf6" target="_blank">网上调查</a></li>
      <li class="part_h_bottom_li_g"><a href="/tips/new?id=5a6146baf6e9fa1940998bff" target="_blank">12380举报网站</a></li>
      <li class="part_h_bottom_li_f" style="margin-right:0;"><a href="/pages/5a6146baf6e9fa1940998bfe" target="_blank" style="line-height:20px;text-align: center;text-indent: 0;padding-top: 26px;padding-left: 50px;height: 59px;width: 115px;">为民服务热线<br>7912345</a></li>
    </ul>
  </div>
  <!--- bottom turn img end --->

</div>
<!--- part h button end --->

<!--- part i turn_img start --->
<div class="part_i">

  <div class="hd">
    <a class="next"></a>
    <a class="prev"></a>
  </div>
  <div class="bd">
    <ul class="picList da-thumbs" id="da-thumbs">

    </ul>
  </div>
</div>
<!--- part i turn_img end --->
<script>
//  $(function(){
//      var str = $("#tag").text();
//      console.log(str);
//      $("#con_one_1").append(str);
//  });
</script>