<div class="page-header">
  <h1>编辑站点访问<small></small></h1>
</div>

<%= render 'form', mgr_site_access: @mgr_site_access %>

<%= link_to 'Show', @mgr_site_access %> |
<%= link_to 'Back', xmt_mgr_site_accesses_path %>
