<div class="page-header">
  <h1>查看站点访问<small></small></h1>
</div>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_xmt_rbac_site_access_path(@mgr_site_access) %> |
<%= link_to 'Back', xmt_rbac_site_accesses_path %>
