<div class="about-bottom inner-padding">
  <div class="container">
    <h3 class="heading-agileinfo">About Us<span>Skin,Nails and Beauty Services</span></h3>
    <div class="about-bott-right">
      <h5>Who We Are</h5>
      <p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure reprehend.Unicmquam eius, Basmodi temurer sehsMunim.Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure reprehend.</p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<div class="wthree-mid">
  <div class="container">
    <h3>Nisl amet dolor sit ipsum veroeros sed blandit</h3>
    <p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
    <div class="botton">
      <a class="join-wthree" href="#" data-toggle="modal" data-target="#myModal">Read More
        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
<!-- //about inner -->
<!-- Team -->
<div class="team">
  <div class="container">
    <h3 class="heading-agileinfo">our beuticians<span>Skin,Nails and Beauty Services</span></h3>
    <div class="agile_team_grids">
      <div class="col-md-3 agile_team_grid">
        <div class="view view-sixth">
          <%= image_tag('t1.jpg',class:'img-responsive')%>
          <div class="mask">
            <h5>Lorem Ipsum</h5>
            <div class="agileits_social_icons">
              <ul class="social_agileinfo">
                <li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <h4>Daniel</h4>
        <p>Facial</p>
      </div>
      <div class="col-md-3 agile_team_grid">
        <div class="view view-sixth">
          <%= image_tag('t2.jpg',class:'img-responsive')%>
          <div class="mask">
            <h5>Lorem Ipsum</h5>
            <div class="agileits_social_icons">
              <ul class="social_agileinfo">
                <li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <h4>Mary Winkler</h4>
        <p>Regular Wax</p>
      </div>
      <div class="col-md-3 agile_team_grid">
        <div class="view view-sixth">
          <!--<img src="images/t3.jpg" alt=" " class="img-responsive">-->
          <%= image_tag('t3.jpg',class:'img-responsive')%>
          <div class="mask">
            <h5>Lorem Ipsum</h5>
            <div class="agileits_social_icons">
              <ul class="social_agileinfo">
                <li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <h4>James Mac</h4>
        <p>Threading</p>
      </div>
      <div class="col-md-3 agile_team_grid">
        <div class="view view-sixth">
          <!--<img src="images/t4.jpg" alt=" " class="img-responsive">-->
          <%= image_tag('t4.jpg',class:'img-responsive')%>
          <div class="mask">
            <h5>Lorem Ipsum</h5>
            <div class="agileits_social_icons">
              <ul class="social_agileinfo">
                <li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <h4>Smith Carls</h4>
        <p>Mani-Pedi</p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //Team -->
