<!-- /inner_content -->
<div class="banner-bottom">
  <div class="container">
    <div class="inner_sec_info_agileits_w3">
      <h3 class="heading-agileinfo">联系我们<span>ZETA专业美甲美睫</span></h3>
      <div class="contact-form">
        <form method="post" action="#">
          <div class="left_form">
            <div>
              <span><label>怎么称呼您</label></span>
              <span><input name="userName" type="text" class="textbox" required=""></span>
            </div>
            <div>
              <span><label>联系方式</label></span>
              <span><input name="userEmail" type="text" class="textbox" required=""></span>
            </div>
            <div>
              <span><label>咨询事宜</label></span>
              <span><input name="userPhone" type="text" class="textbox" required=""></span>
            </div>
            <div>
              <span><label>预约种类</label></span>
              <label>美甲:</label> <span><input name="" type="checkbox" class="textbox" ></span>
              <label>美睫:</label> <span><input name="" type="checkbox" class="textbox" ></span>
              <label>手部护理:</label> <span><input name="" type="checkbox" class="textbox" ></span>
              <label>脚部护理:</label> <span><input name="" type="checkbox" class="textbox" ></span>

            </div>
          </div>
          <div class="right_form">
            <div>
              <span><label>详细留言</label></span>
              <span><textarea name="Message" required=""> </textarea></span>
            </div>
            <div>
              <span><input type="button" value="提交信息" class="myButton"></span>
            </div>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>


  </div>
</div>
<!-- /map -->
<div class="map_w3layouts_agile">
  <iframe src="/map.html" style="border:0;width:100%;"></iframe>

</div>
<!-- //map -->
