<!-- About us -->
<div class="about-3">
  <h3 class="heading-agileinfo">Welcome<span>Skin,Nails and Beauty Services</span></h3>
  <div class="container">
    <div class="d-flex">

      <div class="about1">
        <h5>Nullam pulvinar vulputate aliquam. Pellentesque venenatis ut mi ac porta. Praesent interdum nibh libero, id malesuada libero aliquet quis. Donec at odio nibh.</h5>
        <p>If you like nature, picturesque views, beautiful horses and quality time spending, our riding school is the perfect
          choice to begin your acquaintance with equitation, or to simply enjoy monthly family events at our facility.</p>
        <p>kuytase uaeraquis autem vel eum iure reprehend unicmquam eius, Basmodi temurer sehsmunim.</p>
        <a class="join-wthree" href="about.html">About Us
          <i class="fa fa-hand-o-right" aria-hidden="true"></i>
        </a>
      </div>
      <div class="about2">

      </div>
    </div>

  </div>
</div>
<!-- //About us -->
<!-- wthree-mid -->
<div class="wthree-mid">
  <div class="container">
    <h3>Nisl amet dolor sit ipsum veroeros sed blandit</h3>
    <p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
    <div class="botton">
      <a class="join-wthree" href="#" data-toggle="modal" data-target="#myModal">Read More
        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
<!-- //wthree-mid -->
<div class="donails">
  <div class="container">
    <h3 class="heading-agileinfo">Do Nails & Waxing!<span>Skin,Nails and Beauty Services</span></h3>

    <div class="col-md-6 donail_right">
      <div class="mwho-we-textmks">
        <div class="who-right-mainsmkits">
          <div class="panel-group textmk_panel_group_faq" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title asd">
                  <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">

                    Pedicure<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                <div class="panel-body panel_text">
                  <p>Learn about Development consectetur adipiscing elit, sed do eiusmod .</p>
                  <h6>Here’s a list of those:</h6>
                  <ul>
                    <li>Regular Manicure</li>
                    <li>Spa Manicure</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title asd">
                  <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

                    Manicure<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                <div class="panel-body panel_text">
                  <p>Learn about Development consectetur adipiscing elit, sed do eiusmod .</p>
                  <h6>Here’s a list of those:</h6>
                  <ul>
                    <li>Regular Manicure</li>
                    <li>Spa Manicure</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title asd">
                  <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">

                    Waxing<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                <div class="panel-body panel_text">
                  <p>Learn about Development consectetur adipiscing elit, sed do eiusmod .</p>
                  <h6>Here’s a list of those:</h6>
                  <ul>
                    <li>Regular Manicure</li>
                    <li>Spa Manicure</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
        <div class="botton">
          <a class="join-wthree" href="#" data-toggle="modal" data-target="#myModal">Read More
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 donail_left">
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- pricing -->
<div class="w3ls-section wthree-pricing">
  <div class="container">

    <h3 class="heading-agileinfo">Pricing<span>Skin,Nails and Beauty Services</span></h3>
    <div class="pricing-grids-info">
      <div class="pricing-grid grid-one">
        <div class="w3ls-top">
          <h3>Pedicure</h3>
        </div>
        <div class="w3ls-bottom">
          <h4> 200<span class="sup">$</span> </h4>
          <ul class="count">
            <li>While hand and nail care is usually restricted to just a few services, we’ve got a wide selection of various pedicure methods, just as well as the overall hands skin …</li>
          </ul>

          <div class="more">
            <a href="contact.html">Book Now</a>
          </div>
        </div>
      </div>
      <div class="pricing-grid grid-two">
        <div class="w3ls-top">
          <h3>Manicure</h3>
        </div>
        <div class="w3ls-bottom">
          <h4> 350<span class="sup">$</span> </h4>
          <ul class="count">
            <li>While hand and nail care is usually restricted to just a few services, we’ve got a wide selection of various pedicure methods, just as well as the overall hands skin …</li>
          </ul>

          <div class="more">
            <a href="contact.html">Book Now</a>
          </div>
        </div>
      </div>
      <div class="pricing-grid grid-three">
        <div class="w3ls-top">
          <h3>Waxing</h3>
        </div>
        <div class="w3ls-bottom">
          <h4> 500<span class="sup">$</span> </h4>
          <ul class="count">
            <li>While hand and nail care is usually restricted to just a few services, we’ve got a wide selection of various pedicure methods, just as well as the overall hands skin …</li>
          </ul>

          <div class="more">
            <a href="contact.html">Book Now</a>
          </div>
        </div>
      </div>
      <div class="zb pricing-grid grid-four">
        <div class="w3ls-top">
          <h3>Package</h3>
        </div>
        <div class="w3ls-bottom">
          <h4> 800<span class="sup">$</span> </h4>
          <ul class="count">
            <li>While hand and nail care is usually restricted to just a few services, we’ve got a wide selection of various pedicure methods, just as well as the overall hands skin …</li>
          </ul>

          <div class="more">
            <a href="contact.html">Book Now</a>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
      <!--End-slider-script-->
    </div>
  </div>
</div>
<!--//pricing-->

<!-- Clients -->
<div class="clients">
  <div class="container">
    <div class="wthree_head_section">
      <h3 class="heading-agileinfo">Testimonials<span>Skin,Nails and Beauty Services</span></h3>
    </div>


    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <!--<img src="images/t1.jpg" alt="" />-->
            <%= image_tag('t1.jpg')%>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
            <div class="client">
              <h5>Gerald Roy</h5>
            </div>
          </li>
          <li>
            <!--<img src="images/t2.jpg" alt="" />-->
            <%= image_tag('t2.jpg')%>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
            <div class="client">
              <h5>Adam Brandom</h5>
            </div>
          </li>
          <li>
            <!--<img src="images/t3.jpg" alt="" />-->
            <%= image_tag('t3.jpg')%>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
            <div class="client">
              <h5>Steve Artur</h5>
            </div>
          </li>
          <li>
            <!--<img src="images/t4.jpg" alt="" />-->
            <%= image_tag('t4.jpg')%>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
            <div class="client">
              <h5>Martin Victor</h5>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
<!-- //Clients -->