<!-- /inner_content -->
<div class="banner-bottom">
  <div class="container">
    <div class="inner_sec_info_agileits_w3">
      <h3 class="heading-agileinfo">Contact Us<span>Skin,Nails and Beauty Services</span></h3>
      <div class="contact-form">
        <form method="post" action="#">
          <div class="left_form">
            <div>
              <span><label>Name</label></span>
              <span><input name="userName" type="text" class="textbox" required=""></span>
            </div>
            <div>
              <span><label>E-mail</label></span>
              <span><input name="userEmail" type="text" class="textbox" required=""></span>
            </div>
            <div>
              <span><label>Fax</label></span>
              <span><input name="userPhone" type="text" class="textbox" required=""></span>
            </div>
          </div>
          <div class="right_form">
            <div>
              <span><label>Message</label></span>
              <span><textarea name="Message" required=""> </textarea></span>
            </div>
            <div>
              <span><input type="submit" value="Submit" class="myButton"></span>
            </div>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>


  </div>
</div>
<!-- /map -->
<div class="map_w3layouts_agile">
  <iframe src="/map.html" style="border:0;width:100%;"></iframe>

</div>
<!-- //map -->
