<!-- about-top -->
<div class="agileits-about-top">
  <div class="container">
    <h3 class="heading-agileinfo"><%= @page.attr(:title)%><span>Zeta专业美甲美睫</span></h3>
    <div class="" style="text-align: center">
      <%= @page.attr(:cont,{html_safe:true})%>

      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //about-top -->