<section class="toup"  id="t1">
  <!-- <div class="logo">
    <img src="images/logo.png"/>
  </div> -->
  <div class="swipers">
    <div class="con">
      <h1>lamoda调查问卷</h1>
      <p>感谢光临lamoda体验中心！</p>
      <p>3D时尚定制鞋开创者lamoda是国内领先的鞋类私人订制品牌，致力于为您设计、生产您想要的鞋、舒适的鞋。</p>
      <p>lamoda自推出“DIY自主设计”以来，受到了众多客户朋友的喜爱与追捧，为了让“DIY”能够更好地满足您对鞋子的所有向往，我们非常期待能知道您的想法。</p>
      <p>坐下来，品一杯咖啡，细细地想一想，您心中的lamodaDIY，是什么样的呢？</p>
    </div>
    <a href="javascript:;" class="jion">参加本调查</a>
  </div>
</section>
<section class="toup" id="t2">
  <!-- <div class="logo">
    <img src="images/logo.png"/>
  </div> -->
  <div class="swipers">
    <!-- 上下 -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="scores">
            <h3>对于lamodaDIY的鞋子，您在以下几个方面的需求程度如何呢？</h3>
            <div class="f"><span>1</span>舒适度（1-5分）</div>
            <div class="choose">
              <div class="input"><input type="radio" name="score" id="1"/><label for="1">5分   必须非常舒适，可放弃其他方面要求</label></div>
              <div class="input"><input type="radio" name="score" id="2"/><label for="2">4分   </label></div>
              <div class="input"><input type="radio" name="score" id="3"/><label for="3">1分   </label></div>
              <div class="input"><input type="radio" name="score" id="4"/><label for="4">1分   </label></div>
              <div class="input"><input type="radio" name="score" id="5"/><label for="5">1分   只要其他方面可以满足，舒适度无所谓</label></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="scores">
            <h3>对于lamodaDIY的鞋子，您在以下几个方面的需求程度如何呢？</h3>
            <div class="f"><span>2</span>款式独特性（1-5分）</div>
            <div class="choose">
              <div class="input"><input type="radio" name="score1" id="6"/><label for="6">5分   款式必须非常独特，其他地方买不到，可放弃其他方面要求</label></div>
              <div class="input"><input type="radio" name="score1" id="7"/><label for="7">4分   </label></div>
              <div class="input"><input type="radio" name="score1" id="8"/><label for="8">1分   </label></div>
              <div class="input"><input type="radio" name="score1" id="9"/><label for="9">1分   </label></div>
              <div class="input"><input type="radio" name="score1" id="10"/><label for="10">1分   只要其他方面可以满足，款式独特性无所谓</label></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="scores">
            <h3>对于lamodaDIY的鞋子，您在以下几个方面的需求程度如何呢？</h3>
            <div class="f"><span>3</span>款式专属性（1-5分）</div>
            <div class="choose">
              <div class="input"><input type="radio" name="score2" id="11"/><label for="11">5分   必须能够体现个人属性（纪念日、图像），可放弃其他方面要求 </label></div>
              <div class="input"><input type="radio" name="score2" id="12"/><label for="12">4分   </label></div>
              <div class="input"><input type="radio" name="score2" id="13"/><label for="13">3分   </label></div>
              <div class="input"><input type="radio" name="score2" id="14"/><label for="14">2分   </label></div>
              <div class="input"><input type="radio" name="score2" id="15"/><label for="15">1分   只要其他方面可以满足，专属性无所谓</label></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="scores">
            <h3>对于lamodaDIY的鞋子，您在以下几个方面的需求程度如何呢？</h3>
            <div class="f"><span>4</span>大牌或明星同款（1-5分）</div>
            <div class="choose">
              <div class="input"><input type="radio" name="score3" id="16"/><label for="16">5分   必须接近某大品牌或某明星的同款，可放弃其他方面要求 </label></div>
              <div class="input"><input type="radio" name="score3" id="17"/><label for="17">4分   </label></div>
              <div class="input"><input type="radio" name="score3" id="18"/><label for="18">3分   </label></div>
              <div class="input"><input type="radio" name="score3" id="19"/><label for="19">2分   </label></div>
              <div class="input"><input type="radio" name="score3" id="20"/><label for="20">1分   只要其他方面可以满足，是否大牌或明星同款无所谓</label></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="scores">
            <h3>对于lamodaDIY的鞋子，您在以下几个方面的需求程度如何呢？</h3>
            <div class="f"><span>5</span>材料可变性（1-5分）</div>
            <div class="choose">
              <div class="input"><input type="radio" name="score3" id="21"/><label for="21">5分   必须有非常多的材料可供选择，可放弃其他方面要求</label></div>
              <div class="input"><input type="radio" name="score3" id="22"/><label for="22">4分   </label></div>
              <div class="input"><input type="radio" name="score3" id="23"/><label for="23">3分   </label></div>
              <div class="input"><input type="radio" name="score3" id="24"/><label for="24">2分   </label></div>
              <div class="input"><input type="radio" name="score3" id="25"/><label for="25">1分   只要其他方面可以满足，有2-3种经典材料即可</label></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="scores">
            <h3>对于lamodaDIY的鞋子，您在以下几个方面的需求程度如何呢？</h3>
            <div class="f"><span>6</span>请问您的年龄？</div>
            <div class="choose">
              <div class="input"><input type="radio" name="score4" id="26"/><label for="26">20-30 </label></div>
              <div class="input"><input type="radio" name="score4" id="27"/><label for="27">30-40 </label></div>
              <div class="input"><input type="radio" name="score4" id="28"/><label for="28">40-50</label></div>
              <div class="input"><input type="radio" name="score4" id="29"/><label for="29">50-60</label></div>
              <div class="input"><input type="radio" name="score4" id="30"/><label for="30">60以上</label></div>
            </div>
          </div>
        </div>
      </div>
      <div class="preNexts">
        <div class="swiper-button-prev"><div class="pre"></div>上一题</div>
        <div class="swiper-button-next"><div class="next"></div>下一题</div>
      </div>
    </div>
    <!-- 上下end -->
  </div>
</section>
<section class="toup" id="t3">
  <!-- <div class="logo">
    <img src="images/logo.png"/>
  </div> -->
  <div class="swipers">
    <div class="con con1">
      <input type="number" name="" class="phone" placeholder="手机号码"/>
      <div class="smile">
        <p>非常感谢您的配合!</p>
        <p>我们将赠送您100个lamoda商城积分，请填写您的商城账户手机号，谢谢!</p>
      </div>
    </div>
    <a href="javascript:;" class="tijiao">提交调查</a>
  </div>
</section>
