<section class="toup" id="t1">
  <!-- <div class="logo">
    <img src="images/logo.png"/>
  </div> -->
  <div class="swipers">
    <div class="con">
      <h1>zeta调查问卷</h1>
      <p>感谢光临Zeta美甲美睫！</p>
      <p>3D时尚定制鞋开创者lamoda是国内领先的鞋类私人订制品牌，致力于为您设计、生产您想要的鞋、舒适的鞋。</p>
      <p>lamoda自推出“DIY自主设计”以来，受到了众多客户朋友的喜爱与追捧，为了让“DIY”能够更好地满足您对鞋子的所有向往，我们非常期待能知道您的想法。</p>
      <p>坐下来，品一杯咖啡，细细地想一想，您心中的lamodaDIY，是什么样的呢？</p>
    </div>
    <a class="jion">感谢您的参与，在此祝您生活愉快！</a>
  </div>
</section>