<div class="page-header">
  <h1>查看文档<small></small></h1>
</div>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_mgr_document_path(@mgr_document) %> |
<%= link_to 'Back', mgr_documents_path %>
