/*	Google fonts */
/*	Fonts */
/*	Colors */
/* THEME: light */
/* THEME: dark */
/* THEME: black and white */
/* THEME: green */
/* THEME: navy */
body,
.main-container,
.footer,
.main-navigation,
ul.main-navigation-menu > li > ul.sub-menu,
.navigation-small ul.main-navigation-menu > li > ul.sub-menu {
  background-color: whitesmoke;
    /*background-image:url("/assets/bg_2.png");*/
}

.layout-boxed header, .layout-boxed .main-container, .layout-boxed .footer {
  border-left-color: #d9d9d9;
  border-right-color: #d9d9d9; }

.navbar-inverse {
  background: rgba(255, 255, 255, 0.9);
  border-color: #d9d9d9; }

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover, .navbar-inverse .nav > li > a {
  color: #666666; }
.navbar-inverse .navbar-brand:hover i {
  color: #007AFF; }
.navbar-inverse .navbar-brand i {
  color: #007AFF; }
.navbar-inverse .nav > li.current-user > a {
  color: #646464 !important; }
  .navbar-inverse .nav > li.current-user > a i {
    display: inline-block;
    text-align: center;
    width: 1.25em;
    color: #007AFF !important;
    font-size: 12px; }
.navbar-inverse .nav > li > a {
  color: #979797; }
.navbar-inverse .nav > li:hover > a, .navbar-inverse .nav > li:active > a {
  color: #555555;
  background: whitesmoke; }
.navbar-inverse .nav > li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav > li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav > li.dropdown.open.active > .dropdown-toggle {
  background: #d9d9d9;
  color: #555555; }
.navbar-inverse .btn-navbar {
  background-color: #d9d9d9;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0NDg1ZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI4M2I1MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #34485e), color-stop(100%, #283b52));
  background: -moz-linear-gradient(top, #34485e 0%, #283b52 100%);
  background: -webkit-linear-gradient(top, #34485e 0%, #283b52 100%);
  background: linear-gradient(to bottom, #34485e 0%, #283b52 100%); }
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #d9d9d9;
  -moz-box-shadow: 0px 0px 15px #555555;
  -webkit-box-shadow: 0px 0px 15px #555555;
  box-shadow: 0px 0px 15px #555555; }

.navbar-tools .dropdown-menu li .dropdown-menu-title {
  background: #d9d9d9;
  color: #555555; }

.nav > li.dropdown .dropdown-toggle .badge {
  background-color: #007AFF;
  color: #ffffff;
  border: none; }

.navbar-toggle {
  background-color: #ffffff; }
  .navbar-toggle span {
    color: #979797; }

ul.main-navigation-menu > li a {
  border-bottom: none;
  border-top-color: #d9d9d9;
  color: #555555; }
ul.main-navigation-menu > li a > i {
    color: #007AFF;
    font-weight: normal; }
ul.main-navigation-menu > li.active > a {
  background: #007AFF !important;
  border-top: none !important;
  color: #ffffff; }
  ul.main-navigation-menu > li.active > a .selected:before {
    color: #007AFF !important; }
  ul.main-navigation-menu > li.active > a i {
    color: #ffffff;
    font-weight: normal; }
ul.main-navigation-menu > li.open {
  background-color: #e6e6e6; }
ul.main-navigation-menu > li > a:hover {
  background-color: #e6e6e6; }
ul.main-navigation-menu > li:hover > a {
  background-color: #e6e6e6; }
ul.main-navigation-menu > li > ul.sub-menu > li.open > a, ul.main-navigation-menu > li > ul.sub-menu > li.active > a {
  color: black !important;
  background: #e6e6e6 !important; }
ul.main-navigation-menu > li > ul.sub-menu > li a:hover {
  color: black !important;
  background: #e6e6e6 !important; }

.navigation-toggler, .go-top {
  background-color: #e6e6e6 !important;
  color: rgba(85, 85, 85, 0.3); }

.navigation-toggler:hover i:first-child, .go-top:hover {
  color: #555555; }

.navigation-toggler:hover i:last-child {
  color: rgba(85, 85, 85, 0.3); }

.navigation-small .navigation-toggler:hover i:first-child {
  color: rgba(85, 85, 85, 0.3); }
.navigation-small .navigation-toggler:hover i:last-child {
  color: #555555; }

.breadcrumb i {
  color: rgba(0, 122, 255, 0.4); }
.breadcrumb a {
  color: #007AFF; }

.footer-fixed .footer {
  background: rgba(255, 255, 255, 0.9) !important;
  border-top-color: #e6e6e6; }

.footer-inner {
  color: #555555; }

.main-content .container {
  border-left: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9; }

body.rtl .main-content .container {
  border-left: none;
  border-right: 1px solid #d9d9d9; }

/* ie8 fixes */
.ie8 .navbar-inverse {
  background: #ffffff; }
.ie8 .footer-fixed .footer {
  background: #ffffff; }

/* -------- */
@media (max-width: 767px) {
  .navbar-inverse {
    background: none !important; }

  .navbar-tools {
    background: rgba(255, 255, 255, 0.9);
    border-top-color: #d9d9d9; }

  /* ie8 fixes */
  .ie8 .navbar-tools {
    background: #ffffff; }

  /**/
  .navbar-header {
    background-color: #ffffff; } }
