/* title */

.text_list_lqm{ width:1066px;  height: auto; margin-top:28px; margin-bottom:58px; margin-left:auto; margin-right:auto;border-bottom:#d8e1e7 1px dotted; padding-bottom:28px;}
.text_list_lqm li{ width:1066px; height:auto; margin-left:6px; overflow:hidden; background-image:image_url("bg016.png"); background-repeat:no-repeat; background-position:0px 9px; margin:30px 0px; }
.aname5two1one{ padding-left:15px;  width:911px; height:auto; overflow:hidden; font-size:15px; float:left; }
.aname5two1one a{color:#666666;text-decoration: none}
.aname5two1one a:hover{ color:#ed5c1d;}
.aname5two1two{ margin-left:38px; color:#959595; font-size:15px; width:94px; height:17px; float:left;}
.bname5one{ font-size:26px; width:1066px; height:155px; border-bottom:#d8e1e7 1px dotted; margin-bottom:33px; margin-left:auto; margin-right:auto; padding-top:84px; text-align:center;}
.bname5two{ height:898px; width:1066px; margin:0 auto; border:#e2e2e2 1px solid;}
.bname5two1{ border-bottom:#e2e2e2 1px solid; height:161px; width:1066px;}
.bname5two1one{ width:919px; height:80px; margin-top:47px; margin-left:38px; font-size:18px; line-height:47px; overflow:hidden; float:left;}
.bname5two1two{ width:46px; height:123px; background-color:#ffa945; color:#FFF; font-size:20px; margin-top:11px; margin-left:28px; float:left; border-radius:5px; font-size:20px; overflow:hidden; text-align:center; padding-top:17px;}
.bname5two1two a{ color:#FFF;text-decoration: none}
.bname5two2{ height:705px; width:1066px; overflow:hidden;  margin-bottom:31px;}
.bname5two2one{ width:724px; height:57px; overflow:hidden; margin-top:83px; margin-left:167px;}
.bname5two2one1{ width:62px; height:57px; font-size:18px; float:left; line-height:57px;}
.bname5two2one2{ width:662px; height:57px;  float:left; overflow:hidden;}
.bname5two2one2 input{ width:650px; height:50px; font-size:24px; }
.bname5two2six input{ width:148px; height:46px; }
.bname5two2two{ height:57px; width:741px;overflow:hidden; margin-top:19px; margin-left:150px;}
.bname5two2two1{ width:79px; height:57px; overflow:hidden; font-size:18px; line-height:57px; float:left;}
.bname5two2two2{width:662px; height:57px;  float:left; overflow:hidden;}
.bname5two2two2 input{ width:650px; height:50px; font-size:24px; }
.bname5two2seven input{ width:148px; height:46px;}
.bname5two2three{ width:759px; height:57px; overflow:hidden; margin-top:19px; margin-left:131px;}
.bname5two2three1{ font-size:18px; width:97px; height:57px; float:left; line-height:57px;}
.bname5two2five{ width:889px; height:153px; margin-top:19px; margin-left:130px; overflow:hidden;}
.bname5two2five2{width:658px; height:145px;  float:left; overflow:hidden;}
.bname5two2five2 textarea{ width:650px; height:139px; font-size:20px; }
.bname5two2six{ width:148px; height:46px; float:left; border-radius:5px; background-color:#c6c6c6; line-height:46px; text-align:center; color:#FFF; margin-top:47px; margin-left:361px;}
.bname5two2six a{ width:100%; height:100%; display:block; color:#FFF;}
.bname5two2six a:hover{ background-color:#ffa945;}
.bname5two2seven{ width:148px; height:46px; float:left; border-radius:5px; background-color:#c6c6c6; line-height:46px; text-align:center; color:#FFF; margin-top:47px; margin-left:51px;}
.bname5two2seven a{ width:100%; height:100%; display:block; color:#FFF;}
.bname5two2seven a:hover{ background-color:#ffa945;}
.bname5two2eight{ font-size:20px; width:600px; height:31px; margin-left:130px; margin-top:41px;}
.bname5two2eight1{ height:31px; width:153px; float:left;}
.bname5two2eight2{ width:180px; height:31px; float:left; }
.bname5two2eight2 input {width: 18px;height: 18px}



.bname5three{ width:1066px; height:400px; overflow:hidden; border:#e3e3e3 1px solid; margin-top:31px; margin-left:auto; margin-right:auto;}
.bname5three1{ width:105px; height:32px; overflow:hidden; font-size:26px; margin-top:46px; margin-left:auto; margin-right:auto;}
.bname5three ul{margin-left:37px; width:980px;overflow:hidden;}
.bname5three ul li{ width:984px; height:20px; overflow:hidden; margin-top:30px;background-image:image_url("bg016.png"); background-repeat:no-repeat; background-position:0% 46%;}
.bname5three2one{ width:520px; height:20px; overflow:hidden; font-size:15px; color:#666666; padding-left:17px; float:left; }
.bname5three2one a{ color:#666666;}
.bname5three2one a:hover{ color:#ffa945;}
.bname5three2two{ color:#666666; font-size:15px; width:95px; height:21px; overflow:hidden; float:left; margin-left:346px;}

