/* title */
.nav_list_content{
  width:1200px;
  margin:0 auto;
}
.csx_list_content_title{
  color: #333;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  text-align: right;
  width: 1200px;
}
.nl_left{
  width:245px;
  height: auto;
  float:left;
}
.nll_news{
  width:243px;
  height: auto;
  float:left;
  border:1px solid #e5e5e5;
}
.nll_ntitle{
  width:100%;
  height:60px;
  background:#f25e20;
  font-size:16px;
  text-align:center;
  line-height:60px;
  color:#fff;
  font-weight:bold;
  margin-bottom: 10px;
}
.nll_nlanmu{
  width:100%;
  height:60px;
  text-align:center;
  line-height:60px;
}
.nll_news a{
  width:100%;
  height:60px;
  color:#f25e20;
  text-decoration:none;
}
.nll_news a:hover{
  color:#fff;
}
.nll_news a:visited{
}
.nll_nlanmu:hover{
  background-color:#f25e20;
  color:#fff;
}



.csx_list_right_content{
  margin-bottom:20px;
  float: left;
  height: auto;
  margin-left: 30px;
  width: 925px;
}
.csx_list_right_content a{
  color:#000;
  text-decoration:none;
}
.csx_list_right_content_title{
  border-top: 3px solid #f25e20;
  background-color:#f7f7f7;
  color: #000;
  height: 40px;
  line-height: 40px;
  width: 925px;
  font-size: 18px;
  text-indent: 20px;
  margin-bottom:10px;
  letter-spacing: 4px;
}
.csx_list_right_content ul{
}
.csx_list_right_content ul li{
  background-image: image_url("icon-forward.jpg");
  background-position: left 17px;
  background-repeat: no-repeat;
  border-bottom: 1px dashed #e5e5e5;
  height: auto;
  line-height: 30px;
  overflow: hidden;
  padding: 10px 0;
  width: 925px;
}
.csx_list_right_content ul li:hover{
  background-color:#f5f5f5;
}
.csx_list_right_con_li_left{
  float: left;
  margin-left: 30px;
  width: 795px;
}
.csx_list_right_con_li_right{
  color: #999;
  float: left;
  font-size: 14px;
  text-align: right;
  width: 100px;
}
/* part three end */
.csx_list_fenye{
  height: 50px;
  line-height: 50px;
  margin: 20px auto 0;
  text-align: center;
  width: 100%;
}
.csx_list_fenye a{
  padding:0 10px;
}
