/* title */
@charset "UTF-8";
$iconHome:image_url("icon_home.png");
$jsbg:image_url("ya_jsbg.jpg");
$yadt:image_url("ya_dt.jpg");
$yxbg:image_url("yz_yx_bg.jpg");
$list_icon: image_url("bg016.png");
$icon1a:image_url("icon1a.png");
$icon1b:image_url("icon1b.png");
$icon2a:image_url("icon2a.png");
$icon2b:image_url("icon2b.png");
$icon3a:image_url("icon3a.png");
$icon3b:image_url("icon3b.png");
$icon4a:image_url("icon4a.png");
$icon4b:image_url("icon4b.png");

@mixin inlineblock{
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
@mixin font-style($color , $size , $font-weight){
  color: $color;
  font-size: $size;
  font-weight: $font-weight;
}
.content{
  width: 1200px;
  margin: 25px auto 0;
  .breadcrumbs{
    .prev_tit{
      text-align: center;
      @include inlineblock;
      @include font-style(#959595 , 1em , 300);
      background: $iconHome no-repeat 0 0;
      padding-left: 30px;
    }
    .prev_navrow{
      @include font-style(#959595 , 1em , 300);
      margin: 0 10px;
    }
    .current_tit{
      @include font-style(#b53f09 , 1em , 300);
    }
  }
  .bordered_block{
    width: 1150px;
    padding: 25px;
    min-height: 100px;
    margin: 25px auto 0;
    border: 1px solid #f4f4f4;
  }
}
.bordered_table{
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  margin: 25px auto 0;
  width: 1000px;
  caption{
    border-bottom: 1px dashed #e3e3e3;
    line-height: 3em;
    @include font-style(#252525 , 20px , 300);
    margin-bottom: 1em;
  }
  th , td{
    border-left: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    line-height: 3em;
  }
}
.table_cnt{
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  margin: 25px auto 0;
  width: 1100px;
  th , td{
    border-left: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    line-height: 3em;
    padding: 10px;
  }
  th{
    width: 10em;
    @include font-style(#232323 , 16px , 300px);
    background: #f4f4f4;
  }
  .td_big{
    text-align: left;
  }
}
.border_bottom_none{
  border-bottom: none;
}
@mixin input-block($inp-width){
  @include inlineblock;
  margin: 13px 20px;
  span{
    color: red;
    @include inlineblock;
  }
  .span-height{
    vertical-align: top;
  }
  label{
    @include inlineblock;
    width: 5em;
    text-align: right;
  }
  .label-height{
    vertical-align: top;
    margin-right: 1em;
    width: 4em;
  }
  .input_text{
    height: 40px;
    width: $inp-width;
    outline: none;
    border: 1px solid #e3e3e3;
  }
  .input_textarea{
    outline: none;
    border: 1px solid #e3e3e3;
    height: 80px;
    width: 730px;
  }
  .label_all{
    width: 360px;
    text-align: left;
    padding-left: 20px;
  }
  .options1{
    width: 300px;
    text-align: left;
    padding-left: 20px;
  }
}
.form_table{
  margin: 0 auto;
  th{
    width: 75px;
    @include font-style(#3a3a3a , 20px , 300);
    line-height: 1.5em;
  }
  .input_block_half{
    @include input-block(300px);
  }
  .input_block_all{
    @include input-block(730px);
  }
}
.title_default{
  @include font-style(orangered , 20px , 300);
  margin: 0;
  padding: 0;
  line-height: 3em;
  text-align: center;
}
.text-block{
  @include font-style(#3a3a3a , 16px , 300);
  text-align: left;
  padding: 10px 25px;
}
@mixin article-title($color){
  width:100%;
  border-bottom: 1px dashed #e3e3e3;
  margin-bottom: 20px;
  h3{
    line-height: 3em;
    text-align: center;
    width:100%;
    @include font-style($color , 22px , 300);
  }
  .sub_tit{
    text-align: center;
    span{
      @include inlineblock;
      @include font-style(#787878 , 16px ,300);
      margin: 0 20px 20px 20px;
    }
  }
}
.article_tit{
  @include article-title(#232323)
}
.article_tit1{
  @include article-title(#232323)
}
.question_wrap{
  margin-top: 25px;
  .question_tit{
    line-height: 3em;
    @include font-style(#232323 , 18px , 300);
    span{
      @include inlineblock;
      @include font-style(#232323 , 25px , 600);
      margin: 0 10px;
    }
  }
  .options{
    line-height: 2.5em;
    margin-left: 10px;
    input{
      margin: 0 20px;
    }
  }
}
@mixin button_style($bg){
  @include inlineblock;
  text-decoration: none;
  border: none;
  outline: none;
  background: $bg;
  color: #fff;
  width: 6em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 5px;
  @include font-style(#fff , 20px , 300);
  letter-spacing: 5px;
  text-indent: 5px;
  margin: 0 20px;
}
.button-default{
  @include button_style(orange);
}
.button-gray{
  @include button_style(gray);
}
.center{
  display: block;
  margin: 20px auto;
}
.pic_list{
  li{
    @include inlineblock;
    margin: 15px;
    width: 350px;
    .top_pic{
      display: block;
      img{
        width: 346px;
        height: 300px;
        border:1px solid #e7e7e7;
        padding: 1px;
      }
    }
    .bottom_tit{
      display: block;
      width: 330px;
      margin: 0 auto;
      @include font-style(#232323 , 18px , 300);
      line-height: 2em;
      height: 4em;
      overflow: hidden;
      text-decoration: none;
    }
  }
}
.ui-pagination-container {
  height: 34px;
  line-height: 34px;
  text-align: center;
  .ui-pagination-page-item {
    font-size: 14px;
    padding: 4px 10px;
    background: #fff;
    border: 1px solid #c5b7b7;
    color: #888;
    margin: 0 3px;
    text-decoration: none;
    &:hover {
      border-color: orange;
      color: orange;
      text-decoration: none;
    }
    &.active {
      background: orange;
      color: #fff;
      border-color: orange;
      cursor: default;
    }
  }
}
.title1{
  @include font-style(#232323 , 22px , 300);
  line-height: 3em;
  width: 100%;
  text-align: center;
}
.article_cnt{
  p{
    text-indent: 2em;
    line-height: 2em;
    img{
      margin: 0 auto;
      display: block;
      max-width: 100%!important;
    }
  }
  div{
    img{
      margin: 0 auto;
      display: block;
      max-width: 100%!important;
    }
  }
  span{
    img{
      margin: 0 auto;
      display: block;
      max-width: 100%!important;
    }
  }
  img{
    margin: 0 auto;
    display: block;
    max-width: 100%!important;
  }
}
.form_item{
  width: 900px;
  margin: 25px auto;
  label{
    width: 5em;
    height: 50px;
    line-height: 50px;
    @include font-style(#252525 , 16px , 300);
    @include inlineblock;
    vertical-align: top;
    text-align: right;
  }
  input{
    height: 50px;
    line-height: 50px;
    width: 800px;
    border: 1px solid #d5d5d5;
    @include inlineblock;
    vertical-align: top;
  }
  textarea{
    height: 200px;
    line-height: 50px;
    width: 800px;
    border: 1px solid #d5d5d5;
    @include inlineblock;
    vertical-align: top;
  }
}
.form_bottom{
  width: 325px;
  margin: 25px auto;
}
.tow_columns_wrap{
  margin-left: 20px;
  .two_columns{
    width: 550px;
    @include inlineblock;
    vertical-align: top;
  }
}
.two_columns_right{
  width: 530px;
  padding-left: 20px;
}
.four_columns_wrap{
  margin: 20px auto;
  .item{
    @include inlineblock;
    width: 263px;
    margin: 10px;
    .title3{
      width: 263px;
      height: 2em;
      line-height: 2em;
      text-align: center;
      margin-bottom: 10px;
      background: #f27630;
      @include font-style(#fff , 20px , 300);
    }
    .pic_link{
      width: 263px;
      height: 200px;
      @include inlineblock;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .tit_text_link{
      @include font-style(#232323 , 16px , 300);
      text-decoration: none;
      height: 6em;
      line-height: 1.5em;
      width: 263px;
      overflow: hidden;
    }
  }
}
@mixin title($width){
  @include font-style(#383838 , 20px , 600);
  width: $width;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 20px;
  h3{
    margin: 0 0 -2px 0;
    padding: 0 10px;
    line-height: 2em;
    height: 2em;
    border-bottom: 3px solid #e74800;
    @include inlineblock;
  }
}
.title2{
  @include title(530px);
}
.zcnr{
  width: 460px;
  height: 202px;
  background: $jsbg no-repeat 0 0;
  padding: 50px 40px;
  @include font-style(#383838 , 16px , 300);
  .zcnr_cnt{
    width: 460px;
    text-indent: 2em;
    line-height: 2em;
  }
}
.ya_dt{
  display: block;
  width: 530px;
  height: 302px;
  background: $yadt no-repeat 0 0;
}
.titlebg{
  margin: 0 auto;
  height: 128px;
  width: 1148px;
  background: $yxbg no-repeat 0 0;
}
.title4{
  position: relative;
  @include title(1150px);
  .more{
    position: absolute;
    right: 10px;
    top: 20px;
    @include font-style(#898989 , 14px ,300);
    text-decoration: none;
  }
}
.swiper_wrap{
  width: 1050px;
  height: 230px;
  overflow: hidden;
  .swiper{
    height: 230px;
    .swiper-item{
      width: 450px;
      @include inlineblock;
    }
  }
}
.text-list-tow_columns{
  width: 1150px;
  height: 210px;
  overflow: hidden;
  li{
    @include inlineblock;
    width: 550px;
    padding-left: 20px;
    background: $list_icon no-repeat  5px 18px;
    a{
      @include inlineblock;
      vertical-align: middle;
      width: 450px;
      height: 3em;
      line-height: 3em;
      overflow: hidden;
      @include font-style(#666666 , 14px , 300);
      text-decoration: none;
    }
    span{
      @include inlineblock;
      vertical-align: middle;
      @include font-style(#666666 , 14px , 300);
    }
  }
}
@mixin mt($width , $height){
  height: $height;
  width: $width;
  img{
    @include inlineblock;
    height: $height;
    width: $width;
  }
}
.ya_mt{
  width: 1150px;
  height: 450px;
  position: relative;
  a {
    @include inlineblock;
    vertical-align: top;
    border: 1px solid #e7e7e7;
    padding: 1px;
    &:hover{
      box-shadow:  0 0 10px #232323;
    }
  }
  .ya_mt1{
    @include mt(226px , 446px);
  }
  .ya_mt2{
    @include mt(568px , 217px);
  }
  .ya_mt3{
    @include mt(332px , 217px);
  }
  .ya_mt4{
    @include mt(332px , 217px);
    margin-left: 236px;
    margin-top: -221px;
  }
  .ya_mt5{
    @include mt(568px , 217px);
    margin-top: -221px;
  }
}
@mixin button-list($bg , $col , $img , $size , $border){
  @include font-style($col , $size , 300);
  border: 1px solid $border;
  background-color: $bg;
  background-image: $img;
  background-position: 80px 20px;
  background-repeat: no-repeat;
}
.button-list{
  margin-bottom: 25px;
  a{
    @include inlineblock;
    vertical-align: top;
    width: 281px;
    height: 80px;
    line-height: 80px;
    text-indent: 130px;
    text-decoration: none;
    &:hover{
      box-shadow:  0 0 10px #f37938;
    }
  }
  .button1{
    @include button-list(#fff , #787878 ,$icon1a , 16px , #e2e2e2);
    &:hover{
      @include button-list(#f37938 , #fff , $icon1b , 20px , #f37938);
    }
  }
  .button2{
    @include button-list(#fff , #787878 , $icon2a , 16px , #e2e2e2);
    &:hover{
      @include button-list(#f37938 , #fff , $icon2b , 20px , #f37938);
    }
  }
  .button3{
    @include button-list(#fff , #787878 , $icon3a , 16px , #e2e2e2);
    &:hover{
      @include button-list(#f37938 , #fff , $icon3b , 20px , #f37938);
    }
  }
  .button4{
    @include button-list(#fff , #787878 , $icon4a , 16px , #e2e2e2);
    &:hover{
      @include button-list(#f37938 , #fff , $icon4b , 20px , #f37938);
    }
  }
}
.button5{
  @include inlineblock;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 10px 20px;
  background: #f37938;
  @include font-style(#fff , 16px , 300);
}
.gkml{
  margin: 0;
  padding: 20px;
  border: 1px solid #fff;
  li{
    width: 548px;
    @include inlineblock;
    line-height: 3em;
    border: 1px solid #e2e2e2;
    margin: 3px 0;
    text-indent: 5px;
  }
  .all{
    width: 1103px;
  }
}
.tow_columns_wrap1{
  width:1150px;
  .left{
    @include inlineblock;
    width: 840px;
    vertical-align: top;
  }
  .right{
    @include inlineblock;
    width: 280px;
    margin-left: 20px;
    vertical-align: top;
    .ysq_box{
      border:1px solid #e2e2e2;
      margin-bottom: 20px;
      .tit{
        display: block;
        background: orange;
        @include font-style(#fff , 20px ,300);
        width: 100%;
        text-align: center;
        height: 2em;
        line-height: 2em;
        text-decoration: none;
      }
      .but-wrap{
        width: 100%;
        text-align: center;
      }
      .button-default1{
        @include inlineblock;
        text-decoration: none;
        border:none;
        outline: none;
        background: #f37938;
        @include font-style(#fff , 16px , 300);
        padding: 7px 15px;
        border-radius: 10px;
        margin:5px 5px 15px 5px;
      }
      .text-block{
        @include font-style(#232323 , 18px , 300);
        line-height: 1.5em;
      }
    }
  }
}
.title5{
  position: relative;
  @include title(840px);
  .more{
    position: absolute;
    right: 10px;
    top: 20px;
    @include font-style(#898989 , 14px ,300);
    text-decoration: none;
  }
}
.title6{
  position: relative;
  @include title(280px);
  .more{
    position: absolute;
    right: 10px;
    top: 20px;
    @include font-style(#898989 , 14px ,300);
    text-decoration: none;
  }
}
@mixin text-list($widthall , $widthli){
  width: $widthall;
  margin-bottom: 20px;
  li{
    @include inlineblock;
    width: $widthall;
    padding-left: 20px;
    background: $list_icon no-repeat  5px 18px;
    a{
      @include inlineblock;
      vertical-align: middle;
      width: $widthli;
      height: 3em;
      line-height: 3em;
      overflow: hidden;
      @include font-style(#666666 , 14px , 300);
      text-decoration: none;
    }
    span{
      @include inlineblock;
      vertical-align: middle;
      @include font-style(#666666 , 14px , 300);
    }
  }
}
.text_list{
  @include text-list(840px , 725px);
  height: 210px;
  overflow: hidden;
}
.text_list_all{
  margin: 20px auto;
  @include text-list(1150px , 1035px);
}
.button-list1{
  width: 280px;
  .button-hover{
    @include inlineblock;
    text-decoration: none;
    outline: none;
    background: #fff;
    @include font-style(#737373 , 18px , 300);
    width: 135px;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    margin: 3px 0;
    border: 1px solid #e2e2e2;
    &:hover{
      background: #f37938;
      @include font-style(#fff , 18px , 300);
      border: 1px solid #f37938;
    }
  }
}
.button-list-all{
  width: 1150px;
  .button-hover{
    @include inlineblock;
    text-decoration: none;
    outline: none;
    background: #fff;
    @include font-style(#737373 , 16px , 300);
    width: 185px;
    height: 3em;
    text-align: center;
    line-height: 3em;
    margin: 7px 0;
    border: 1px solid #e2e2e2;
    &:hover{
      background: #f37938;
      @include font-style(#fff , 16px , 300);
      border: 1px solid #f37938;
    }
  }
  .button-hovered{
    background: #f37938;
    @include font-style(#fff , 16px , 300);
    border: 1px solid #f37938;
  }
}
.tab-wrap{
  width: 1145px;
  border: 1px solid #e2e2e2;
  margin-top: 25px;
  .tab-control{
    margin-left: 5px;
    li{
      @include inlineblock;
      width: 228.215px;
      text-align: center;
      height: 3em;
      line-height: 3em;
      border-left: 1px solid #e2e2e2;
      margin-left: -5px;
      &:first-of-type{
        border: none;
      }
    }
    .hover{
      box-shadow: 0 5px 5px 1px #f3f3f3 inset;
      @include font-style(#f37938 , 16px , 300);
    }
  }
  .tab-content{
    width: 1105px;
    padding: 20px;
    p{
      text-indent: 2em;
      img{
        margin-left: -2em;
        width: 100%;
      }
    }
    div{
      text-indent: 0;
      p{
        text-indent: 2em;
      }
      img{
        text-indent: -2em;
      }
    }
  }
}
.button_one{
  display: block;
  text-decoration: none;
  outline: none;
  background: #fff;
  @include font-style(#737373 , 16px , 300);
  width: 1144px;
  height: 3em;
  text-align: center;
  line-height: 3em;
  margin: 7px 0;
  border: 1px solid #e2e2e2;
  &:hover{
    background: #f37938;
    @include font-style(#fff , 16px , 300);
    border: 1px solid #f37938;
  }
}
.button_one{
  display: block;
  text-decoration: none;
  outline: none;
  background: #fff;
  @include font-style(#737373 , 16px , 300);
  width: 1144px;
  height: 3em;
  text-align: center;
  line-height: 3em;
  margin: 7px 0;
  border: 1px solid #e2e2e2;
  &:hover{
    background: #f37938;
    @include font-style(#fff , 16px , 300);
    border: 1px solid #f37938;
  }
}
.button_other{
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  outline: none;
  background: #fff;
  @include font-style(#737373 , 16px , 300);
  width: 925px;
  height: 3em;
  text-align: center;
  line-height: 3em;
  margin: 7px 0;
  border: 1px solid #e2e2e2;
  font-size: 18px;
  font-weight: 600;
  &:hover{
    background: #f37938;
    @include font-style(#fff , 18px , 600);
    border: 1px solid #f37938;
  }
}
.form_wrap{
  border:1px solid #f4f4f4;
  width: 600px;
  height: 260px;
  padding: 20px 40px;
  margin: 30px auto;
  .input_wrap{
    height: 30px;
    width: 500px;
    margin: 30px auto;
    label{
      @include inlineblock;
      width: 4em;
      text-align: right;
      @include font-style(#232323 , 16px , 300);
    }
    input{
      width: 380px;
      height: 30px;
      border: 1px solid #e7e7e7;
    }
    span{
      @include font-style(#898989 , 14px , 300);
    }
  }
}
.form_wrap_all{
  width: 1150px;
  margin: 30px auto;
  .input_wrap_all{
    margin: 20px auto;
    label{
      text-align: right;
      @include inlineblock;
      @include font-style(#232323 , 16px , 300);
      vertical-align: middle;
      width: 6em;
      span{
        color: red;
      }
    }
    .intext_default{
      height: 40px;
      width: 1035px;
      @include inlineblock;
      vertical-align: middle;
      border: 1px solid #e7e7e7;
    }
    textarea{
      width: 1030px;
      border:1px solid #e7e7e7;
      height: 100px;
      vertical-align: middle;
    }
    .label_radio{
      @include inlineblock;
      width: auto;
      margin:0 10px 0 5px ;
      text-align: left;
    }
  }
}
.jy_box{
  border:1px solid #e7e7e7;
  width: 1150px;
  height: 100px;
  overflow: hidden;
  .left{
    @include inlineblock;
    width: 100px;
    height: 76px;
    background: #f37938;
    color: #fff;
    @include font-style(#fff, 20px , 300);
    text-align: center;
    padding-top: 24px;
  }
  .center{
    @include inlineblock;
    width: 850px;
    padding: 10px;
  }
  .right{
    @include  inlineblock;
    height: 65px;
    vertical-align: middle;
  }
}
.progress-wrap{
  @include inlineblock;
  margin-left: 10px;
  position: relative;
  top:5px;
  width: 350px;
  height: 20px;
  border:1px solid #e7e7e7;
  border-radius: 5px;
  @include font-style(#232323 , 12px , 300);
  text-align: right;
  line-height: 20px;
  .progress{
    @include inlineblock;
    float: left;
    height: 20px;
    border-radius: 5px;
    background: orange;
    /* Safari 5.1 - 6.0 */
    background: -webkit-repeating-linear-gradient(left , orangered, darkorange, orange);
    /* Opera 11.1 - 12.0 */
    background: -o-repeating-linear-gradient(right , orangered, darkorange, orange);
    /* Firefox 3.6 - 15 */
    background: -moz-repeating-linear-gradient(right , orangered, darkorange, orange);
    /* 标准的语法 */
    background: repeating-linear-gradient(right , orangered, darkorange, orange);
  }
  span{
    position: absolute;
    right:5px;
  }
}
@mixin img($pic , $pica){
  background: $pic no-repeat center 20px;
  &:hover{
    background-image: $pica;
    background-repeat: no-repeat;
    background-position: center 20px;
  }
}
.icon_tit_box{
  @for $i from 1 through 28 {
    .box#{$i}{
      @include img(image_url("box#{$i}.png") , image_url("box#{$i}a.png"));
    }
  }
}
.index_tab_more{
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  float: right;
  height: 20px;
  line-height: 20px;
}
.part_k_d {
  float: right!important;
}
.font-style{
  font-weight: 300;
  font-size: 19px;
}
