/* title */
@charset "UTF-8";

@mixin inlineblock{
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
@mixin font($color , $size , $wei){
    font-size: $size;
    color: $color;
    font-weight: $wei;
}
.scroll_x_pic_cnt {
    margin: 0 auto;
    overflow: hidden;
    width: 1150px;
}

.mr_frbox {
    padding: 24px 0px 0px;
}

.mr_frBtnL {
    cursor: pointer;
    display: inline;
    float: left;
    height: 46px;
    margin: 60px 10px 0 0;
    width: 28px;
}

.mr_frUl {
    float: left;
    height: 158px;
    width: 1050px;
    margin-left: 15px;
}

.mr_frBtnR {
    float: right;
    margin-top: 60px;
    cursor: pointer;
    width: 28px;
    height: 46px;
}

.mr_frUl ul li {
    display: inline;
    float: left;
    width: 530px;
    overflow: hidden;
    position: relative;
}

.mr_frUl ul li a img {
    width: 205px;
    height: 158px;
}
.right-text{
    @include inlineblock;
    vertical-align: top;
    width: 290px;
    margin-left: 10px;
    .list_tit{
        @include font(#3e3e3e , 20px , 300);
        display: block;
        text-decoration: none;
        width: 100%;
        height: 1.5em;
        line-height: 1.5em;
        overflow: hidden;
    }
    .list_des{
        @include font(#666666 , 16px , 300);
        display: block;
        text-decoration: none;
        width: 100%;
        height: 8em;
        line-height: 2em;
        overflow: hidden;
    }
}