/* title */
/*******************************************************************************************************************************************************************************/
/*20171114 Add Zheng Wu Gong Kai Begin*/
/*******************************************************************************************************************************************************************************/

/************* Zheng Wu Gong Kai Index Begin **************/

/* now where start */
.zwgk_index_nowwhere{
  width:1158px;
  margin:0 auto;
  height:40px;
  background-image:image_url("zwgk001.png");
  background-repeat:no-repeat;
  background-position:left center;
  line-height:40px;
  font-size:14px;
  color:#333;
  text-indent: 2em;
}
.zwgk_index_nowwhere span{
  color:#e74800;
}
/* now where end */

/* part c start */
.zwgk_index_c{
  width:1158px;
  margin:0 auto;
  height:515px;
}
.zwgk_index_c_top{
  background-image:image_url("zwgk002.png");
  background-repeat:no-repeat;
  background-position:left bottom;
  height:50px;
  line-height:50px;
  font-size:18px;
  color:#383838;
  text-indent:5px;
  letter-spacing:5px;
  font-weight:bold;
}
.zwgk_index_c_top span{
  float:right;
  font-size:14px;
  font-weight:normal;
  letter-spacing:0;
}
.zwgk_index_c_bottom{
}
.zwgk_index_c_bottom_title{
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  margin: 15px 0 5px;
  background-color: #f0f0f0;
  text-align: center;
  color:#666;
  letter-spacing:5px;
}
.zwgk_index_c_bottom_title_l{
  float:left;
  width:810px;
}
.zwgk_index_c_bottom_title_c{
  float:left;
  width:210px;
}
.zwgk_index_c_bottom_title_r{
  float:left;
  width:138px;
}
.zwgk_index_c_bottom ul{
}
.zwgk_index_c_bottom ul li{
  background-image: image_url("bg016.png");
  background-position: 5px 21px;
  background-repeat: no-repeat;
  width:1140px;
  height: 45px;
  line-height: 45px;
  padding-left: 20px;
  overflow: hidden;
}
.zwgk_index_c_bottom ul li p{
  display:block;
  float:left;
  font-size:16px;
  width:791px;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  margin:0;
}
.zwgk_index_c_bottom ul li b{
  display: block;
  float: left;
  font-size: 16px;
  width: 210px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  font-weight: normal;
  text-align: center;
}
.zwgk_index_c_bottom ul li span{
  display: block;
  float: right;
  width: 139px;
  font-size: 14px;
  color: #666;
  text-align: center;
}
.zwgk_index_c_bottom ul li a{
  color:#333;
  text-decoration:none;
}
.zwgk_index_c_bottom ul li a:hover{
  color:#900;
}
/* part c end */

/* part d start */
.zwgk_index_d{
  width:1158px;
  margin:0 auto;
  height: auto;
}
.zwgk_index_d_menu {
  height:45px;
  line-height:45px;
  position:relative;
  background-image:image_url("zwgk002.png");
  background-repeat:no-repeat;
  background-position:left bottom;
}
.zwgk_index_d_title{
  float:left;
  font-size:18px;
  color:#383838;
  text-indent:5px;
  letter-spacing:5px;
  font-weight:bold;
  width:182px;
}
.zwgk_index_d_menu ul{
  margin:0px;
  padding:0px;
  float:left;
  height:45px;
}
.zwgk_index_d_menu li{
  float:left;
  display:block;
  cursor:pointer;
  width:114px;
  color:#949694;
  height:43px;
  line-height:43px;
  text-align:center;
}
.zwgk_index_d_menu li.hover{
  padding:0px;
  background:#fff;
  width:118px;
  border-left:1px solid #e0e0e0;
  border-top:1px solid #e0e0e0;
  border-right:1px solid #e0e0e0;
  color:#e74800;
  height:43px;
  line-height:40px;
}
.zwgk_index_d_box{
  clear:both;
  margin-top:0px;
  border-top:none;
  padding-top:8px;
}
.zwgk_index_d_more{
  font-size: 14px;
  position: relative;
  top: -35px;
  text-align: right;
  width: 100px;
  float: right;
}
.zwgk_index_d_box_l{
  float:left;
  width:303px;
  height:310px;
  margin-right:25px;
  overflow:hidden;
  margin-top:20px;
}
.zwgk_index_d_box_l ul{
}
.zwgk_index_d_box_l ul li{
  width:301px;
  height:66px;
  line-height:66px;
  margin-bottom:12px;
  text-align:center;
}
.zwgk_index_d_box_l ul li a{
  display:block;
  width:100%;
  height:100%;
  border:1px solid #ebebeb;
  text-decoration:none;
  color:#737373;
}
.zwgk_index_d_box_l ul li a:hover{
  border:1px solid #f37938;
  background-color:#f37938;
  color:#fff;
}

.zwgk_index_d_box_r{
  float:left;
  width:830px;
  height:310px;
  overflow:hidden;
}
.zwgk_index_d_box_r ul{
}
.zwgk_index_d_box_r ul li{
  background-image: image_url("bg016.png");
  background-position: 5px 21px;
  background-repeat: no-repeat;
  width:810px;
  height: 45px;
  line-height: 45px;
  padding-left: 20px;
  overflow: hidden;
}
.zwgk_index_d_box_r ul li p{
  display:block;
  float:left;
  margin:0;
  font-size:16px;
  width:710px;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
.zwgk_index_d_box_r ul li span{
  display:block;
  float:right;
  width:100px;
  font-size:14px;
  color:#666;
  text-align:right;
}
.zwgk_index_d_box_r ul li a{
  color:#333;
  text-decoration:none;
}
.zwgk_index_d_box_r ul li a:hover{
  color:#900;
}
.zwgk_index_d_zdly{
  padding-top:20px;
}
.zwgk_index_d_zdly ul{
}
.zwgk_index_d_zdly ul li{
  float: left;
  background-image: image_url("bg016.png");
  background-repeat: no-repeat;
  background-position: 40px center;
  height: 50px;
  line-height: 50px;
  width: 191px;
  margin: 0 20px;
  text-align: center;
}
.zwgk_index_d_zdly ul li a{
  display:block;
  width:100%;
  height:100%;
  color:#333;
  text-decoration:none;
}
.zwgk_index_d_zdly ul li a:hover{
  background-color:#f37938;
  color:#fff;
}
/* part d end */

/* part e start */
.zwgk_index_e{
  width:1158px;
  margin:0 auto;
  height:400px;
  overflow:hidden;
}
.zwgk_index_e_top{
  background-image:image_url("zwgk002.png");
  background-repeat:no-repeat;
  background-position:left bottom;
  height:50px;
  line-height:50px;
  font-size:18px;
  color:#383838;
  text-indent:5px;
  letter-spacing:5px;
  font-weight:bold;
}
.zwgk_index_e_top span{
  float:right;
  font-size:14px;
  font-weight:normal;
  letter-spacing:0;
}
.zwgk_index_e ul{
  padding-top:15px;
}
.zwgk_index_e ul li{
  background-image: image_url("bg016.png");
  background-position: 5px 21px;
  background-repeat: no-repeat;
  border-bottom: 1px dashed #e5e5e5;
  width:544px;
  height:45px;
  line-height: 45px;
  padding-left: 20px;
  overflow: hidden;
}
.zwgk_index_e ul li p{
  display:block;
  float:left;
  font-size:16px;
  width:444px;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  margin:0;
}
.zwgk_index_e ul li span{
  display:block;
  float:right;
  width:100px;
  font-size:14px;
  color:#666;
  text-align:right;
}
.zwgk_index_e ul li a{
  color:#333;
  text-decoration:none;
}
.zwgk_index_e ul li a:hover{
  color:#900;
}
.zwgk_index_e_l{
  float: left;
  width: 564px;
  height: 390px;
  margin-right: 30px;
  overflow:hidden;
}
.zwgk_index_e_r{
  float:left;
  height:390px;
  width:564px;
  overflow:hidden;
}
/* part e end */

/* part f start */
.zwgk_index_f{
  width:1158px;
  margin:0 auto;
  height:350px;
  overflow:hidden;
}
.zwgk_index_f_top{
  background-image:image_url("zwgk002.png");
  background-repeat:no-repeat;
  background-position:left bottom;
  height:50px;
  line-height:50px;
  font-size:18px;
  color:#383838;
  text-indent:5px;
  letter-spacing:5px;
  font-weight:bold;
}
.zwgk_index_f_top span{
  float:right;
  font-size:14px;
  font-weight:normal;
  letter-spacing:0;
}
.zwgk_index_f ul{
  padding-top:15px;
}
.zwgk_index_f ul li{
  background-image: image_url("bg016.png");
  background-position: 5px 21px;
  background-repeat: no-repeat;
  border-bottom: 1px dashed #e5e5e5;
  width:806px;
  height:45px;
  line-height: 45px;
  padding-left: 20px;
  overflow: hidden;
}
.zwgk_index_f ul li p{
  display:block;
  float:left;
  font-size:16px;
  width:706px;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  margin:0;
}
.zwgk_index_f ul li span{
  display:block;
  float:right;
  width:100px;
  font-size:14px;
  color:#666;
  text-align:right;
}
.zwgk_index_f ul li a{
  color:#333;
  text-decoration:none;
}
.zwgk_index_f ul li a:hover{
  color:#900;
}
.zwgk_index_f_l{
  float: left;
  width: 826px;
  height: 305px;
  margin-right: 30px;
  overflow: hidden;
}
.zwgk_index_f_r{
  float:left;
  height:248px;
  width:302px;
  overflow:hidden;
  margin-top:36px;
}
.zwgk_index_f_r_top{
  height:45px;
  width:302px;
  line-height:45px;
  background-color:#ffa945;
  color:#fff;
  text-align:center;
}
.zwgk_index_f_r_bottom{
  border:1px solid #eee;
  border-top:none;
  width:300px;
  height:202px;
  background-image:image_url("zwgk008.png");
  background-repeat:no-repeat;
  background-position:18px 66px;
}
.zwgk_index_f_r_bottom p{
  padding-left: 80px;
  width: 200px;
  line-height: 30px;
  font-size: 15px;
  margin: 0;
  padding-top: 20px;
  text-indent:2em;
}
.zwgk_index_f_r_bottom a{
  display: block;
  width: 110px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #f37938;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  margin-left: 123px;
  margin-top: 13px;
}
.zwgk_index_f_r_bottom a:hover{
  background-color:#aa3305;
}

/* part f end */

/* part g start */
.zwgk_index_g{
  width:1158px;
  margin:0 auto;
  height:180px;
  overflow:hidden;
}
.zwgk_index_g_top{
  background-image:image_url("zwgk002.png");
  background-repeat:no-repeat;
  background-position:left bottom;
  height:50px;
  line-height:50px;
  font-size:18px;
  color:#383838;
  text-indent:5px;
  letter-spacing:5px;
  font-weight:bold;
}
.zwgk_index_g_top span{
  float:right;
  font-size:14px;
  font-weight:normal;
  letter-spacing:0;
}
.zwgk_index_g ul{
}
.zwgk_index_g ul li{
  float:left;
  width:216px;
  height:84px;
  line-height:84px;
  text-align: center;
  font-size:18px;
  margin-top:15px;
  margin-right:16px;
  border:1px solid #e2e2e2;
  background-repeat: no-repeat;
  background-position:40px center;
  text-indent:3em;
}
.zwgk_index_g ul li:hover{
  background-color:#f37938;
  border:1px solid #f37938;
}
.zwgk_index_g ul li a{
  display:block;
  width:100%;
  height:100%;
  color:#333;
  text-decoration:none;
}
.zwgk_index_g ul li a:hover{
  color:#fff;
}
.zwgk_index_g_lia{
  background-image:image_url("zwgk003.png");
}
.zwgk_index_g_lia:hover{
  background-image:image_url("zwgk003a.png");
}
.zwgk_index_g_lib{
  background-image:image_url("zwgk004.png");
}
.zwgk_index_g_lib:hover{
  background-image:image_url("zwgk004a.png");
}
.zwgk_index_g_lic{
  background-image:image_url("zwgk005.png");
}
.zwgk_index_g_lic:hover{
  background-image:image_url("zwgk005a.png");
}
.zwgk_index_g_lid{
  background-image:image_url("zwgk006.png");
}
.zwgk_index_g_lid:hover{
  background-image:image_url("zwgk006a.png");
}
.zwgk_index_g_lie{
  background-image:image_url("zwgk007.png");
}
.zwgk_index_g_lie:hover{
  background-image:image_url("zwgk007a.png");
}
/* part g end */

/************* Zheng Wu Gong Kai Index End **************/



/************* Zheng Wu Gong Kai * Gong Kai Zhi Du Begin **************/
.zwgk_gkzd{
  width:1158px;
  margin:0 auto;
  height:auto;
  min-height:800px;
}
.zwgk_gkzd_left{
  float:left;
  width:293px;
  margin-right:30px;
}
.zwgk_gkzd_left_top{
  text-align:center;
  width:293px;
  height:44px;
  line-height:44px;
  color:#fff;
  background-color:#f37938;
  font-weight:bold;
  font-size:16px;
  margin:10px 0;
}
.zwgk_gkzd_left_bottom{
  font-size:15px;
}
.zwgk_gkzd_left_bottom label{
  text-align:right;
  display:inline-block;
  width:90px;
}
.zwgk_gkzd_left_bottom_div{
  height:50px;
  line-height:50px;
}
.zwgk_gkzd_left_bottom_div input{
  width:175px;
}
.zwgk_gkzd_left_bottom_div select{
  width:180px;
  padding:2px;
}
.zwgk_gkzd_left_button {
  width: 6em;
  height:40px;
  line-height: 40px;
  font-size: 16px;
  color: #FFFFFF;
  background: #f15f23;
  border:1px solid #f15f23;
  border-radius:20px;
  -webkit-appearance: none;
  -webkit-appearance: none;
  display:block;
  margin:20px auto;
  cursor:pointer;
}
.zwgk_gkzd_right{
  float:left;
  width:835px;
}
.zwgk_gkzd_right_title{
  background-image:image_url("zwgk002.png");
  background-repeat:no-repeat;
  background-position:left bottom;
  height:50px;
  line-height:50px;
  font-size:18px;
  color:#383838;
  text-indent:5px;
  letter-spacing:5px;
  font-weight:bold;
}
.zwgk_gkzd_right ul li{
  background-image: image_url("bg016.png");
  background-position: 5px 26px;
  background-repeat: no-repeat;
  border-bottom: 1px dashed #e5e5e5;
  width:815px;
  height: auto;
  line-height: 35px;
  padding: 10px 0 10px 20px;
  overflow: hidden;
}
.zwgk_gkzd_right ul li p{
  display:block;
  float:left;
  font-size:16px;
  width:565px;
  margin:0;
  overflow:hidden;
}
.zwgk_gkzd_right ul li b{
  display:block;
  float:left;
  font-size:16px;
  font-weight:normal;
  width:150px;
  margin:0;
  text-align:center;
  overflow:hidden;
}
.zwgk_gkzd_right ul li span{
  display:block;
  float:right;
  width:100px;
  font-size:14px;
  color:#666;
  text-align:right;
}
.zwgk_gkzd_right ul li a{
  color:#333;
  text-decoration:none;
}
.zwgk_gkzd_right ul li a:hover{
  color:#900;
}
.zwgk_gkzd_right_fenye {
  height: 50px;
  line-height: 50px;
  margin: 30px auto 0;
  text-align: center;
  width: 100%;
}
.zwgk_gkzd_right_fenye a {
  padding: 0 10px;
  color:#333;
  text-decoration:none;
}
.zwgk_gkzd_right_fenye a:hover{
  color:#f37938;
}
/************* Zheng Wu Gong Kai * Gong Kai Zhi Du End **************/


/************* Zheng Wu Gong Kai * Gong Kai Mu Lu * List * Begin **************/
.zwgk_gkml_list{
  width:1158px;
  margin:0 auto;
  height:auto;
  min-height:800px;
}
/* left begin */
.zwgk_gkml_list_left{
  float:left;
  width:293px;
  margin-right:35px;
  overflow:hidden;
}
/* nav begin */
.zwgk_gkml_list_dt{
  background: #f37938;
  color: white;
  width: 233px;
  padding: 0 40px 0 20px;
  height: 44px;
  line-height: 44px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  margin:10px 0;
  font-weight:bold;
  text-align:center;
}
.zwgk_gkml_list_dt:hover{
  background: #c04300;
}
#open{
  background: #ff5900;
}
.zwgk_gkml_list_dt_icon{
  position: absolute;
  right: 10px;
  top:16px;
  display: block;
  width: 16px;
  height: 16px;
 // background: image_url("off.png") no-repeat;
}
#open .zwgk_gkml_list_dt_icon{
 // background: image_url("open.png") no-repeat;
}
.zwgk_gkml_list_dd{
  display: none;
  margin:0;
}
.zwgk_gkml_list_dd li{
  background: #f5f5f5;
  list-style-type: none;
  color:#333;
  width: 293px;
  height: 44px;
  line-height: 44px;
  cursor: pointer;
  margin:10px 0;
  background-image:image_url("zwgk009.png");
  background-repeat: no-repeat;
  background-position:10px center;
  text-align:center;
}
.zwgk_gkml_list_dd li a{
  text-decoration:none;
  color:#333;
  display: block;
  width:100%;
  height:100%;
}
.zwgk_gkml_list_dd li:hover{
  background: #dbdbdb;
  background-image:image_url("zwgk010.png");
  background-repeat:no-repeat;
  background-position:10px center;
}
/* nav end */
/* left end */

/* right begin */
.zwgk_gkml_list_right{
  float:left;
  width:830px;
}
.zwgk_gkml_list_right_search{
  height: 30px;
  overflow: hidden;
  width: 420px;
  margin: 10px 0 10px 420px;
}
.zwgk_gkml_list_right_search label{
  float:left;
  font-size:14px;
  line-height:26px;
}
.zwgk_gkml_list_right_search input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #e4e4e4 currentcolor #e4e4e4 #e4e4e4;
  border-image: none;
  border-style: solid none solid solid;
  border-width: 1px medium 1px 1px;
  float: left;
  font-size: 13px;
  height: 24px;
  line-height: 24px;
  outline: medium none;
  text-indent: 10px;
  width: 150px;
}
.zwgk_gkml_list_right_search select{
  width: 100px;
  padding: 2px;
  float: left;
  font-size: 14px;
  text-align:center;
  border: 1px solid #e4e4e4;
  height: 28px;
}
.zwgk_gkml_list_right_search button {
  background: #ffa946 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 14px;
  height: 28px;
  float:left;
  outline: medium none;
  width: 75px;
}
.zwgk_gkml_list_right ul{
  border:1px solid #e5e5e5;
  border-bottom:none;
}
.zwgk_gkml_list_right li{
  height:auto;
}
.zwgk_gkml_list_right li span{
  display: inline-block;
  float:left;
  text-align:center;
  font-size:14px;
  height:60px;
  padding:10px;
  border-bottom:1px solid #e5e5e5;
  overflow:hidden;
}
.zwgk_gkml_list_right_spana{
  width:39px;
  line-height:60px;
  border-right:1px solid #e5e5e5;
}
.zwgk_gkml_list_right_spanb{
  text-align:left;
  width:300px;
  text-align:left;
  line-height:30px;
  border-right:1px solid #e5e5e5;
}
.zwgk_gkml_list_right_spanc{
  width:117px;
  line-height:30px;
  border-right:1px solid #e5e5e5;
}
.zwgk_gkml_list_right_spand{
  width:159px;
  line-height:60px;
  border-right:1px solid #e5e5e5;
}
.zwgk_gkml_list_right_spane{
  width:109px;
  line-height:60px;
}
/* right end */
/************* Zheng Wu Gong Kai * Gong Kai Mu Lu * List * End **************/


/************* Zheng Wu Gong Kai * Ji Gou Gai Kuang * Begin **************/
.zwgk_jggk{
  width:1158px;
  margin:0 auto;
  height:auto;
  min-height:800px;
}
.zwgk_jggk ul{
  border:1px solid #f3f3f3;
  padding:10px 0;
}
.zwgk_jggk ul li{
  float:left;
  font-size:16px;
  margin:10px;
}
.zwgk_jggk ul li a{
  display:block;
  width:209px;
  height:53px;
  color:#333;
  border:1px solid #f3f3f3;
  line-height:53px;
  text-align:center;
  text-decoration:none;
}
.zwgk_jggk ul li a:hover{
  background-color:#e96326;
  border:1px solid #e96326;
  color:#fff;
}

/************* Zheng Wu Gong Kai * Ji Gou Gai Kuang * End **************/

/************* Zheng Wu Gong Kai * Gong Kai Zhi Nan * Begin **************/

.zwgk_gkzn{
  width:1158px;
  margin:0 auto;
  height:auto;
  min-height:800px;
}
.zwgk_gkzn_right{
  float:left;
  width:835px;
}
.zwgk_gkzn_right ul{
  border:1px solid #f3f3f3;
  padding:10px 0;
}
.zwgk_gkzn_right ul li{
  float:left;
  font-size:16px;
  margin:10px;
}
.zwgk_gkzn_right ul li a{
  display:block;
  width:255px;
  height:53px;
  color:#333;
  border:1px solid #f3f3f3;
  line-height:53px;
  text-align:center;
  text-decoration:none;
}
.zwgk_gkzn_right ul li a:hover{
  background-color:#e96326;
  border:1px solid #e96326;
  color:#fff;
}

/************* Zheng Wu Gong Kai * Gong Kai Zhi Nan * End **************/


/************* Zheng Wu Gong Kai * Yi Shen Qing Gong Kai * Begin **************/

.zwgk_ysqgk{
  width:1158px;
  margin:0 auto;
  height:auto;
  min-height:800px;
}
.zwgk_ysqgk_left{
  float:left;
  width:268px;
  height:auto;
  overflow:hidden;
  padding:20px;
  margin-right:30px;
  border:1px solid #e3e3e3;
}
.zwgk_ysqgk_left h3{
  text-align:center;
  font-size:20px;
  color:#f37938;
  line-height:40px;
}
.zwgk_ysqgk_left p{
  text-indent:2em;
  line-height:35px;
}
.zwgk_ysqgk_right{
  float: left;
  width:818px;
}
.zwgk_ysqgk_right_title{
  background-image:image_url("zwgk011.png");
  background-repeat:no-repeat;
  background-position:left bottom;
  height:50px;
  line-height:50px;
  font-size:18px;
  color:#383838;
  text-indent:5px;
  letter-spacing:2px;
  font-weight:bold;
}
/* tab begin */
.zwgk_ysqgk_right_tab {
  width:818px;
  margin: 30px auto;
}
.zwgk_ysqgk_right_tab_title {
  height:95px;
  font-size: 0;
  border-bottom:1px dashed #e0e0e0;
}
.zwgk_ysqgk_right_tab_title .zwgk_ysqgk_right_item {
  display: inline-block;
  width: 192px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #333;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  margin: 0 5px;
  text-decoration:none;
}
.zwgk_ysqgk_right_tab_title .zwgk_ysqgk_right_item_cur {
  color: #fff;
  background-color: #f37938;
  border:1px solid #f37938;
}
.zwgk_ysqgk_right_tab_cont {
  position: relative;
  background-color: #fff;
  width:818px;
  height:1000px;
  overflow: hidden;
  padding-top:20px;
}
.zwgk_ysqgk_right_tab_cont_wrap {
  position: absolute;
}
.zwgk_ysqgk_right_tab_cont .zwgk_ysqgk_right_item {
  width:818px;
  color: #333;
}
.zwgk_ysqgk_tab_cont_a{
  overflow: auto;
  overflow-x:hidden;
  height:1000px;
  width:100%;
}
.zwgk_ysqgk_tab_cont_a h3{
  font-size:22px;
  font-weight:normal;
  text-align:center;
  width:100%;
  line-height:50px;
}
.zwgk_ysqgk_tab_cont_a p{
  line-height:35px;
  font-size:16px;
  text-indent:2em;
  padding:0 20px;
}
.zwgk_ysqgk_tab_cont_b{
  background-image:image_url("zwgk012.png");
  background-repeat:no-repeat;
  background-position:top left;
  height:1000px;
  width:100%;
  padding-top:85px;
}

/* ysqgk tab two begin */
.zwgk_two_ysqgk_tab{
  width:773px;
  height:166px;
  border:1px solid #e5e5e5;
  border-radius:15px;
  margin-top:50px;
}
.zwgk_two_ysqgk_tab_top{
  width:244px;
  height:35px;
  line-height:35px;
  text-align:center;
  background-image:image_url("zwgk013.png");
  margin:-20px auto 0;
  border-radius:5px;
  border:1px solid #e5e5e5;
}
.zwgk_two_ysqgk_tab_top p{
  background-image:image_url("zwgk015.png");
  background-repeat: no-repeat;
  font-size: 16px;
  margin: 0;
  background-position: 30px center;
}
.zwgk_two_ysqgk_tab_bottom{
  text-align:center;
  margin-top:48px;
}
.zwgk_two_ysqgk_tab_bottom p{
  font-size:16px;
}
.zwgk_two_ysqgk_tab_bottom p a{
  color:#333;
}
.zwgk_two_ysqgk_tab_bottom p a:hover{
  color:#C00;
}
.zwgk_two_ysqgk_tab_bottom span{
  font-size:14px;
}
.zwgk_two_ysqgk_tab_b{
  width:773px;
  height: auto;
  border:1px solid #e5e5e5;
  border-radius:15px;
  margin-top:50px;
}
.zwgk_two_ysqgk_tab_b_bottom{
  width:80%;
  margin:20px auto 50px;
}
.zwgk_two_ysqgk_tab_b_bottom h4{
  height:60px;
  line-height:60px;
  border-bottom:1px dashed #e5e5e5;
  text-align:center;
  font-weight:normal;
}
.zwgk_two_ysqgk_tab_b_bottom p{
  line-height:35px;
}
.zwgk_two_ysqgk_tab_b_bottom span{
  color:#e74800;
}
.zwgk_two_ysqgk_tab_c{
  width:773px;
  height:131px;
  border:1px solid #e5e5e5;
  border-radius:15px;
  margin-top:50px;
}
.zwgk_two_ysqgk_tab_c_bottom{
  text-align: left;
  background-image: image_url("zwgk016.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 104px;
  border-radius: 15px;
  overflow: hidden;
  padding-top:10px;
}
.zwgk_two_ysqgk_tab_c_bottom p{
  width:80%;
  margin:20px auto;
}
/* ysqgk tab two end */



/* ysqgk tab three begin */
.zwgk_three_ysqgk_one{
  width:820px;
  height:307px;
  overflow:hidden;
  margin:0 auto;
}
.zwgk_three_ysqgk_one_left{
  border: 1px solid #eee;
  display: inline-block;
  float: left;
  font-size: 18px;
  height: 215px;
  line-height: 40px;
  overflow: hidden;
  padding: 45px 10px;
  text-align: center;
  width: 24px;
}
.zwgk_three_ysqgk_one_right{
  float:left;
  width:774px;
  height:311px;
  overflow:hidden;
  display:inline-block;
}
.zwgk_three_ysqgk_one_right input{
  border:1px solid #eee;
  height:26px;
  line-height:26px;
  width:98%;
}

.zwgk_three_ysqgk_one_right_b{
  width: 375px;
  height:50px;
  line-height:50px;
  padding-left: 10px;
  border-top: 1px #eee solid;
  border-right: 1px #eee solid;
  overflow: hidden;
  float: left;
  background-image:image_url("zwgk014.png");
  background-repeat: no-repeat;
  background-position: 20px center;
}
.zwgk_three_ysqgk_one_right_b_l{
  float: left;
  text-align: right;
  width: 120px;
}
.zwgk_three_ysqgk_one_right_b_r{
  float:left;
  width:235px;
}


.zwgk_three_ysqgk_one_right_j{
  height:50px;
  width:761px;
  overflow:hidden;
  line-height:50px;
  padding-left:10px;
  border-top:1px #eee solid;
  border-right:1px #eee solid;
  background-image: image_url("zwgk014.png");
  background-repeat:no-repeat;
  background-position:20px center;
}
.zwgk_three_ysqgk_one_right_j_l{
  float:left;
  text-align:right;
  width:120px;
}
.zwgk_three_ysqgk_one_right_j_r{
  float:left;
  width:630px;
}
.zwgk_three_ysqgk_one_right_k{
  width:375px;
  height:50px;
  line-height:50px;
  padding-left:10px;
  overflow:hidden;
  float:left;
  border-bottom:1px #eee solid;
  border-top:1px #eee solid;
  border-left:none;
  background-image: image_url("zwgk014.png");
  background-repeat:no-repeat;
  background-position:20px center;
}
.zwgk_three_ysqgk_one_right_k_l{
  float:left;
  text-align:right;
  width:120px;
}
.zwgk_three_ysqgk_one_right_k_r{
  float: left;
  margin-right: 10px;
  width: 150px;
}
.zwgk_three_ysqgk_one_right_k_c{
  float:left;
  font-size:12px;
  color:#900;
}


/* ysqgk part one end */


/* ysqgk part two begin */
.zwgk_three_ysqgk_two{
  width:820px;
  height:518px;
  overflow:hidden;
  margin:0 auto;
}
.zwgk_three_ysqgk_two_left{
  border: 1px solid #eee;
  border-top:none;
  display: inline-block;
  float: left;
  font-size: 18px;
  height: 291px;
  line-height: 40px;
  overflow: hidden;
  padding: 113px 10px;
  text-align: center;
  width: 24px;
}
.zwgk_three_ysqgk_two_right{
  float:left;
  width:774px;
  height:518px;
  overflow:hidden;
  display:inline-block;
}

.zwgk_three_ysqgk_two_right textarea{
  border: 1px solid #eee;
  height: 98%;
  line-height: 26px;
  margin-top: 30px;
  width: 98%;
}
.zwgk_three_ysqgk_two_right_a{
  background-image: image_url("zwgk014.png");
  background-position: 20px 48px;
  background-repeat: no-repeat;
  border-right: 1px solid #eee;
  height: 118px;
  letter-spacing: 4px;
  overflow: hidden;
  padding-left: 10px;
  width: 761px;
}
.zwgk_three_ysqgk_two_right_a_l{
  float:left;
  text-align:right;
  margin:40px 20px 0;
  width:80px;
}
.zwgk_three_ysqgk_two_right_a_r{
  float:left;
  width:628px;
}

.zwgk_three_ysqgk_two_right_a_r textarea {
  border: 1px solid #eee;
  height: 75px;
  line-height: 25px;
  margin-top: 21px;
  width: 98%;
}
.zwgk_three_ysqgk_two_right_b{
  background-image: image_url("zwgk014.png");
  background-position: 20px 48px;
  background-repeat: no-repeat;
  border-right: 1px solid #eee;
  height: 118px;
  letter-spacing: 4px;
  overflow: hidden;
  padding-left: 10px;
  width: 761px;
}
.zwgk_three_ysqgk_two_right_b_l{
  float:left;
  text-align:right;
  margin:40px 20px 0;
  width:80px;
}
.zwgk_three_ysqgk_two_right_b_r{
  float:left;
  width:628px;
}

.zwgk_three_ysqgk_two_right_b_r textarea {
  border: 1px solid #eee;
  height: 75px;
  line-height: 25px;
  margin-top: 21px;
  width: 98%;
}
.zwgk_three_ysqgk_two_right_c{
  border-right:1px solid #eee;
  float:left;
  width:534px;
  height:65px;
  line-height:65px;
  text-indent: 40px;
  background-image: image_url("zwgk014.png");
  background-repeat:no-repeat;
  background-position:20px center;
  overflow:hidden;
}

.zwgk_three_ysqgk_two_right_d{
  border-right:1px solid #eee;
  float:left;
  width:534px;
  height:65px;
  line-height:65px;
  text-indent: 40px;
  background-image: image_url("zwgk014.png");
  background-repeat:no-repeat;
  background-position:20px center;
  overflow:hidden;
}

.zwgk_three_ysqgk_two_right_e{
  border-top:1px solid #eee;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  float:left;
  height:280px;
  width:385px;
  overflow:hidden;
}
.zwgk_three_ysqgk_two_right_e_diva{
  margin-left:50px;
  margin-top:21px;
  float:left;
}
.zwgk_three_ysqgk_two_right_e_divb{
  margin-left:10px;
  margin-top:20px;
  float:left;
}



.zwgk_three_ysqgk_two_right_f{
  border-top:1px solid #eee;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  float:left;
  height:280px;
  width:385px;
  overflow:hidden;
}

/* ysqgk part two end */
.zwgk_ysqgk_left_bottom_div{
  height: 75px;
  text-align: center;
  width: 435px;
  margin: 30px auto 0;
}
.zwgk_ysqgk_left_bottom_div input{
  width:175px;
}
.zwgk_ysqgk_left_bottom_div select{
  width:180px;
  padding:2px;
}
.zwgk_ysqgk_left_button {
  height:40px;
  line-height: 40px;
  font-size: 16px;
  color: #FFFFFF;
  background: #c6c6c6;
  border:1px solid #c6c6c6;
  border-radius:10px;
  -webkit-appearance: none;
  -webkit-appearance: none;
  display:block;
  margin:20px;
  cursor:pointer;
  float:left;
}
.zwgk_ysqgk_left_button:hover{
  background: #ffa945;
  border:1px solid #ffa945;
}
.zwgk_ysqgk_right_button {
  width: 6em;
  height:40px;
  line-height: 40px;
  font-size: 16px;
  color: #FFFFFF;
  background: #c6c6c6;
  border:1px solid #c6c6c6;
  border-radius:20px;
  -webkit-appearance: none;
  -webkit-appearance: none;
  display:block;
  margin:20px auto;
  cursor:pointer;
}
.zwgk_ysqgk_right_button:hover{
  background: #ffa945;
  border:1px solid #ffa945;
}

/* ysqgk tab three end */

/* ysqgk tab four begin */
.zwgk_ysqgk_four_bottom{
  font-size:16px;
  width:410px;
  margin:0 auto;
}
.zwgk_ysqgk_four_bottom_title{
  line-height:35px;
  text-align:center;
  margin-top:40px;
}
.zwgk_ysqgk_four_bottom_title span{
  color:#666;
}
.zwgk_ysqgk_four_bottom label{
  text-align:right;
  display:inline-block;
  width:90px;
  padding-right:10px;
}
.zwgk_ysqgk_four_bottom_div{
  height:80px;
  line-height:80px;
}
.zwgk_ysqgk_four_bottom_div input{
  width:280px;
  height:35px;
}
.zwgk_ysqgk_four_bottom_div select{
  width:180px;
  padding:2px;
}
.zwgk_ysqgk_four_button {
  line-height: 35px;
  font-size: 16px;
  color: #FFFFFF;
  background: #c6c6c6;
  border:1px solid #c6c6c6;
  border-radius:20px;
  -webkit-appearance: none;
  -webkit-appearance: none;
  display:block;
  margin:20px auto;
  cursor:pointer;
}
.zwgk_ysqgk_four_button:hover{
  background: #ffa945;
  border:1px solid #ffa945;
}
/* ysqgk tab four end */
/* tab end */


/************* Zheng Wu Gong Kai * Yi Shen Qing Gong Kai * End **************/



/*******************************************************************************************************************************************************************************/
/*20171114 Add Zheng Wu Gong Kai End*/
/*******************************************************************************************************************************************************************************/