<div class="page-header">
  <h1>查看模板<small></small></h1>
</div>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_xmt_press_template_path(@mgr_template) %> |
<%= link_to 'Back', xmt_press_templates_path %>
