<div class="page-header">
  <h1>编辑菜单访问<small></small></h1>
</div>

<%= render 'form', mgr_menu_access: @mgr_menu_access %>

<%= link_to 'Show', @mgr_menu_access %> |
<%= link_to 'Back', xmt_mgr_menu_accesses_path %>
